.App {
  text-align: center;
}
*{margin: 0; padding: 0%;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* PERSO */

.INDIANRED{
  background-color: #CD5C5C;
}
.SALMON{
  background-color: #FA8072;
}
.LIGHTCORAL{
  background-color: #F08080;
}
.maroon{
  background-color: maroon;
}
.pink{
  background-color:pink;
}

.element {
  position: absolute;
}

.wrap{
  flex-wrap: wrap;
}

.game-app{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34; height: 90vh;
}

.col-item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 90vh;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 72px solid transparent;
  border-right: 72px solid transparent;
  border-bottom: 120px solid whitesmoke;
}

.mat{
  width: 20px;
  height: 300px;
}

.socle {
  width: 70px;
  height: 50px;
}

h1{
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


/* Fin DU CODE PERSO */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
