*{margin: 0; padding: 0%; box-sizing: border-box;}
body{
  background-color: #F3F3F3;  
}
.bg_jardin{
  background-image: url("../img/maison-jardin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#nav{
  background-color: #474747;
  height: 72px;
}
.li_nav{
  padding: 8px 20px 0 7px;
  text-decoration: none;
  list-style:none;
  color: white;
}
#panier{
  position: relative;
  top: 10px;
}
#btn_commande{
  position: absolute;
  top: 94px;
  right: 35px;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.flexbox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}
.row{
  display: flex;
  flex-direction: row;
}
.around{
  justify-content: space-around;
}

.wrap{
  flex-wrap: wrap;
}
.flex_end{
  justify-content: flex-end;
}
