.fullheight {
        min-height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.background {
        color: black;
        background-image: url('../img/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

h2 {
        padding: 10px;
        font-size: xx-large;
        text-align: center;
}

.informations {
        width: 100vw;
        display: contents;
}

.presentation {
        width: 100vw;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.jeu {
        width: 100vw;
        height: 100vh;
}

.video {
        width: 25vw;

}

@media screen and (max-width: 1024px) {

        .video {
                width: 90vw;
        }
}