*{margin: 0; padding: 0%; box-sizing: border-box;}

body{
  background-color: #F3F3F3;  
}

.row{
  display: flex;
  flex-direction: row;
}

.flexbox{
  display: flex;  
  justify-content: space-between;

  width: 100%;
  height: 100vh;

  overflow: hidden;
  padding: 15px;
}

.flexbox .board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 300px;
  background-color: bisque;
  padding: 15px;
  flex-wrap: wrap;
}
.flexbox .central_column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  max-width: 900px;
  padding: 15px;
}
.flexbox .board .card{
  cursor: pointer;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.saumon{
  background-color: #FA8072;
}


.h150px{
  height: 150px;
}
.w150px{
  width:150px;
}
.wrap{
  flex-wrap: wrap;
}

.col-item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 90vh;
  background-color: darkgrey;
}

.rotor{
  width: 70px;
  height: 123px;
  
}
.board-rotor{
  width: 78px;
  height: 130px;
  border: dashed grey;

  position: relative;
  top: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pale-zone{
  width: 230px;
  justify-content: space-between;
  margin-bottom: -226px;
}

.pale{
  width: 33px;
  height: 94px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}
.board-pale-top{
  width: 39px;
  height: 100px;
  border: dashed grey;

  position: relative;
  top: 135px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-pale-right{
  width: 39px;
  height: 100px;
  border: dashed grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-pale-left{
  width: 39px;
  height: 100px;
  border: dashed grey;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mat{
  width: 20px;
  height: 300px;
}
.board-mat{
  width: 32px;
  height: 314px;
  border: dashed grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.matching{
  width: 400px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  top: 13vh;
  right: 2vw;
  font-size: -webkit-xxx-large;

  animation-duration: 3s;
  animation-name: jugement;
  opacity: 0;
}

@keyframes jugement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
button{
  background-color: #5e81ac;
  color: white;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Open Sans';
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 40px;
  height: 60px;
  border: none;
  width: 200px;
  cursor: pointer;

  position: absolute;
  top: 22px;
  right: 54px;
}

/* 
.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
} */